    <h1>{{page}}</h1>
    {{#if lastEditor}}
    <div class="page-info">Last edited by {{lastEditor}} on {{lastEditDate}}</div>
    {{else}}
    <div class="page-info">New Page</div>
    {{/if}}
    <div id="pageContent">{{{htmlText}}}</div>
    <div id="historySidebar">
    
    <div>

